@model TesteClienteAgenda.Application.ViewModels.ClienteViewModel
<div class="container">
    <form asp-action="AplicarTaxa" asp-controller="Clientes"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#list-agendas">

            <label asp-for="Taxa" class="control-label"></label>
            <input asp-for="Taxa" type="text"/>
            <span asp-validation-for="Taxa" class="text-danger"></span>
            <input type="hidden" asp-for="Id" />

            <input type="submit" value="Aplicar" class="btn btn-outline-success" />
    </form>
</div>