@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<p>Desenvolvedor: Pablo Emanuel Alves Pereira</p>
<p>Email: <email email-domain="gmail.com">vovollice</email></p>
<p>Skype: <email email-domain="hotmail.com">vovollice</email></p>
<p>Github: https://github.com/vovollice</p>